
.form-container {
  background-color: #fe6bd7;
  margin-top: 10px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  padding: 20px;

  .form-header {
    display: flex;
    align-items: center;

    h1 {
      font-size: 32pt;
      font-weight: 500;
      margin-left: 50px; 
      width: 500px;
    }

    p {
      font-size: 14pt;
      margin-left: 100px;
      width: 600px;
    }
  }

  .form {
    display: flex;

    form {
      display: flex;
      flex-direction: column;
      margin-left: 40px;
      gap: 10px;

      input {
        border: none;
        border-bottom: 2px solid;
        padding: 20px 10px;
        width: 350px;
        background: transparent;
      }
      input:focus {
        outline: none;
      }
      input::placeholder {
        color: #2c2c2c;
      }

      textarea {
        background: transparent;
        border: 2px solid;
        padding: 20px 10px;
      }
      textarea::placeholder {
        color: #2c2c2c;
      }
    }

    button {
      position: absolute;
      margin-left: 500px;
      margin-top: 150px;
      padding: 20px;
      background-color: #65fe65;box-shadow: 8px 6px 2px -3px rgba(0,0,0,1);
      border: 2px solid;
      font-weight: 600;
      border-radius: 10px;
    }
  }
}

@media (max-width: 480px) {
  .form-container {
    padding: 0;

    .form-header {
      flex-direction: column;
      
      h1 {
        text-align: center;
        width: 90%;
        margin-left: 0;
      }

      p {
        font-size: 13pt;
        width: 90%;
        text-align: justify;
        margin: 10px 0 30px;
      }
    }

    .form {
      form {
        input {
          width: 250px;
          margin-left: 20px;
        }

        textarea {
          width: 250px;
          margin-left: 20px;
          margin-top: 10px;
          height: 90px;
          margin-bottom: 100px;
        }
      }

      button {
        margin-left: 210px;
        margin-top: 300px;
      }
    }
  }
}