.hero-container {
  display: flex;
  justify-content: space-around;
  
  .hero-text {
    font-family: 'Outfit', sans-serif;

    h1 {
      font-size: 52pt;
      width: 400px;
      font-weight: 400;
    }

    p {
      font-size: 16pt;
      width: 400px;
      text-align: justify;
    }

    .hero-button {
      background-color: #fffb1b;
      border: 2px solid #000;
      font-weight: 600;
      padding: 15px 20px;
      border-radius: 10px;
      box-shadow: 8px 6px 2px -3px rgba(0,0,0,1);
    }
  }

  .images-container {
    img {
      width: 180px;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
    }

    .image1,
    .image2,
    .image3 {
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
      border: 2px solid #000;
      width: 200px;
      height: 300px;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
    }

    .image1 {
      background-color: #08e708;
      margin-left: 120px;
      margin-top: 220px;
      position: absolute;
    }
    
    .image2 {
      background-color: #c2008e;
    }

    .image3 {
      background-color: #ffff27;
      margin-left: -180px;
      margin-top: -60px;
    }
  }
}

